header {
  background: $blue;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;

  > * {
    align-self: center;
  }

  .header__logo {
    background: $off-white;
    border-radius: 0.9rem;
    color: $blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
    padding: 1rem;

    &:hover {
      text-decoration: none;
    }
  }

  .header__nav {
    a {
      color: $off-white;
      display: block;
      font-size: 4vw;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  header {
    .header__logo {
      font-size: 5rem;
    }

    .header__nav {
      a {
        display: inline-block;
        font-size: 2.4rem;
        margin-right: 3rem;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
