@function shadow($color, $length: 20) {
  $total-length: $length;
  $string: -1px -1px 0 $color, 1px -1px 0 $color, -1px 1px 0 $color,
    1px 1px 0 $color;
  @while $length > 0 {
    $string-addition: $length + px $length + px;
    $string: $color $string-addition, $string;
    $length: $length - 1;
  }
  @return $string;
}

.main {
  span {
    color: $off-white;
    display: block;
    font-weight: 600;
    font-size: 8vw;
    text-align: center;
    text-transform: uppercase;

    &:nth-child(1) {
      text-shadow: shadow($blue);
    }
    &:nth-child(2) {
      text-shadow: shadow($red);
    }
    &:nth-child(3) {
      text-shadow: shadow($yellow);
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .main {
    span {
      font-size: 8rem;
    }
  }
}
