.portfolio {
  .portfolio__title {
    text-align: center;
    width: 100%;
  }

  .portfolio__matrix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    span {
      width: 100%;

      .portfolio__card {
        background-color: $blue;
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: 0 3px 16px rgba(0,0,0,.1);
        margin-bottom: 5rem;
        padding-top: 56.2%; /* (Image Height / Image Width) * Container Width */
        position: relative;

        .portfolio__overlay {
          background: rgba(0, 0, 0, 0.5);
          color: $off-white;
          font-size: 2rem;
          cursor: pointer;
          height: 100%;
          left: 50%;
          opacity: 0;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: opacity 0.5s ease-in-out 0s;
          width: 100%;

          span {
            left: 50%;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.portfolio__card--component-bucket {
  background: url('../resources/component-bucket@1x.png');
}

.portfolio__card--craigslist {
  background-image: url('../resources/craigslist@1x.png');
}

.portfolio__card--hush {
  background-image: url('../resources/hush@1x.png');
}

.portfolio__card--smart-start {
  background-image: url('../resources/smart-start@1x.png');
}

.portfolio__card--yoovo {
  background-image: url('../resources/yoovo@1x.png');
}

@media (min-width: $desktop-breakpoint) {
  .portfolio {
    .portfolio__matrix {
      justify-content: space-around;

      span {
        width: 45%;
      }
    }
  }
}

@media only screen and ( min-device-pixel-ratio: 1.25),
  only screen and ( min-resolution: 200dpi) {
  .portfolio__card--component-bucket {
    background: url('../resources/component-bucket@2x.png');
  }

  .portfolio__card--craigslist {
    background-image: url('../resources/craigslist@2x.png');
  }

  .portfolio__card--hush {
    background-image: url('../resources/hush@2x.png');
  }

  .portfolio__card--smart-start {
    background-image: url('../resources/smart-start@2x.png');
  }

  .portfolio__card--yoovo {
    background-image: url('../resources/yoovo@2x.png');
  }
}
