#contact__form {
  min-width: 300px;
  width: 50%;
  z-index: 100;
}

#contact__form button {
  background: var(--dark-blue);
  border: none;
  color: var(--light-gray);
  cursor: pointer;
  margin-top: 1rem;
  padding: 1.45rem;
}

#contact__form input, #contact__form textarea {
  background: var(--light-gray);
  border: none;
  border-left: 1px solid transparent;
  display: block;
  margin-bottom: 0.75rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}

#contact__form input:focus, #contact__form textarea:focus {
  border-left: 1px solid var(--dark-gray);
}

#contact__form input:focus, #contact__form textarea:focus,
#contact__form input:hover, #contact__form textarea:hover {
  background: var(--gray);
}

#contact__form textarea {
  resize: none;
}
