#header {
  display: flex;
  height: 25vh;
  justify-content: space-between;
  min-height: 150px;
  padding: 0 2rem;
  padding-top: 2rem;
  width: 100%;
}

#header__logo {
  width: 50%;
}

#header__links {
  font-size: 2rem;
  text-align: right;
  width: 50%;
}

#header__links a {
  display: block;
  padding-top: 1rem;
}

#header__links a.active {
  text-decoration: underline;
}

@media (min-width: 1000px) {
  #header__links a {
    display: inline;
    padding-right: 1rem;
    padding-top: 0;
  }
}
