#logo {
  fill: #2396A7;
  fill: url("#logoGradient");
  stroke: #2396A7;
  stroke-miterlimit: 5;
  height: 20vh;
}

.logoDraw {
  animation-delay: 0s, 1.75s, 1.75s;
  animation-duration: 2.25s, 1s, 1s;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  animation-name: DrawLine, FadeStroke, FillIn;
  animation-timing-function: ease-in-out;
  fill-opacity: 0;
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100;
}

@keyframes DrawLine {
  to { stroke-dashOffset: 0; }
}

@keyframes FadeStroke {
  to { stroke-opacity: 0; }
}

@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}
