#main__tagline {
  font-size: 3rem;
  line-height: 2;
  height: 180px;
  margin: auto;
  text-align: center;
  width: 100%;
}

#main__tagline > * {
  margin: 0;
}

#main__name {
  font-weight: bold;
}

#main__links {
  font-size: 2rem;
}

#main__iam {
  color: var(--dark-blue);
}
