* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #F3F5F6;
  color: #212121;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

a, a:visited {
  color: #2396A7;
  outline: none;
  text-decoration: none;
}

.page__content {
  display: block;
}

.page__header {
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

#contact__form input, #contact__form textarea {
  background: #E5E7E8;
  border: none;
  display: block;
  outline: none;
  padding: 1rem;
  width: 50%;
}

#contact__form input:focus, #contact__form textarea:focus,
#contact__form input:hover, #contact__form textarea:hover {
  background: #D6D6D6;
}

#contact__form textarea {
  resize: none;
}

#header {
  display: flex;
  height: 25vh;
  justify-content: space-between;
  min-height: 220px;
  padding: 0 2rem;
  padding-top: 2rem;
  width: 100%;
}

#header__logo {
  width: 50%;
}

#header__links {
  font-size: 2rem;
  text-align: right;
  width: 50%;
}

#header__links a {
  display: block;
  padding-top: 1rem;
}

@media (min-width: 1000px) {
  #header {
  }

  #header__links a {
    display: inline;
    padding-right: 1rem;
    padding-top: 0;
  }
}
