html {
  font-size: 62.5%;
}

body {
  background: #F3F5F6;
  color: #212121;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

a, a:visited {
  color: #96B0CB;
  text-decoration: none;
}

#contact__header {
  font-weight: 300;
  text-transform: uppercase;
}

#contact__form input, #contact__form textarea {
  background: #E5E7E8;
  border: none;
  display: block;
  outline: none;
  padding: 1rem;
  width: 50%;
}

#contact__form input:focus, #contact__form textarea:focus,
#contact__form input:hover, #contact__form textarea:hover {
  background: #D6D6D6;
}

#contact__form textarea {
  resize: none;
}

#header {
  height: 25vh;
}

#header__links {
}

@media (min-width: 1000px) {
  #header {
    min-height: 150px;
  }
}
